// E-
color: black;
 font-size: 36px;
 font-family: Poppins;
 font-weight: 800;
 word-wrap: break-word
---
// HUB
color: #001AFF;
 font-size: 36px;
 font-family: Poppins;
 font-weight: 800;
 word-wrap: break-word
---
// 2
color: #229318;
 font-size: 24px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// Top Deals
color: black;
 font-size: 24px;
 font-family: Poppins;
 font-weight: 700;
 word-wrap: break-word
---
// Categories
color: black;
 font-size: 24px;
 font-family: Poppins;
 font-weight: 700;
 word-wrap: break-word
---
// 25% off
color: white;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 700;
 word-wrap: break-word
---
// 50% off
color: white;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 700;
 word-wrap: break-word
---
// Asus Rog Strix G-17
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
---
// Logitech G355 Gaming...
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
---
// Tws
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// Watch
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// Laptops
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// Headphone
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// Mobile
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// Free Delivery
color: rgba(0, 0, 0, 0.60);
 font-size: 16px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
---
// Free Delivery
color: rgba(0, 0, 0, 0.60);
 font-size: 16px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
---
// 4.5/5
color: #ED6328;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
---
// 4.8/5
color: #ED6328;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
---
// Asus 
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Logitech
color: black;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// Add To Cart
color: white;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// Add To Cart
color: white;
 font-size: 20px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// More Details
color: rgba(255, 255, 255, 0.78);
 font-size: 16px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// EN
color: black;
 font-size: 24px;
 font-family: Poppins;
 font-weight: 500;
 word-wrap: break-word
---
// .
color: #74BC6F;
 font-size: 48px;
 font-family: Poppins;
 font-weight: 700;
 word-wrap: break-word
---
// Searching For....
color: rgba(0, 0, 0, 0.60);
 font-size: 24px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word